## 1. Create and connect to database

In [1]:
%load_ext sql

In [2]:
import csv, sqlite3
import pandas as pd

In [3]:
con = sqlite3.connect("socioeconomic.db")
cur=con.cursor()

In [5]:
%sql sqlite:///socioeconomic.db

## 2. Store the dataset in a Table

In [8]:
df=pd.read_csv('https://data.cityofchicago.org/resource/jcxq-k9xf.csv')
df.to_sql("chicago_socioeconomic_data", con, if_exists ='replace', index = False, method = "multi")

78

In [9]:
%sql SELECT * FROM chicago_socioeconomic_data limit 5;

 * sqlite:///socioeconomic.db
Done.

[(1.0, 'Rogers Park', 7.7, 23.6, 8.7, 18.2, 27.5, 23939, 39.0),
 (2.0, 'West Ridge', 7.8, 17.2, 8.8, 20.8, 38.5, 23040, 46.0),
 (3.0, 'Uptown', 3.8, 24.0, 8.9, 11.8, 22.2, 35787, 20.0),
 (4.0, 'Lincoln Square', 3.4, 10.9, 8.2, 13.4, 25.5, 37524, 17.0),
 (5.0, 'North Center', 0.3, 7.5, 5.2, 4.5, 26.2, 57123, 6.0)]