In [1]:
!pip install bs4
!pip install lxml==4.6.4
!pip install html5lib==1.1 
import pandas as pd
import requests

Requirement already satisfied: bs4 in c:\users\asustuf\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\asustuf\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\asustuf\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.2.post1)
Requirement already satisfied: lxml==4.6.4 in c:\users\asustuf\anaconda3\lib\site-packages (4.6.4)
Requirement already satisfied: html5lib==1.1 in c:\users\asustuf\anaconda3\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\asustuf\anaconda3\lib\site-packages (from html5lib==1.1) (1.16.0)
Requirement already satisfied: webencodings in c:\users\asustuf\anaconda3\lib\site-packages (from html5lib==1.1) (0.5.1)

In [2]:
# import the url of the stock data 
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html'

In [12]:
# identify the data type so that in loading the data to pandas the appropriate reading function can be made

df = pd.read_html(url, flavor = 'bs4')
df.head()  # the output will be in error it says list object has no attribute head.

AttributeError: 'list' object has no attribute 'head'

In [8]:
len(df)

1

In [10]:
df[0]  #access the table

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Jun 01, 2021",504.01,536.13,482.14,528.21,528.21,78560600
1,"May 01, 2021",512.65,518.95,478.54,502.81,502.81,66927600
2,"Apr 01, 2021",529.93,563.56,499.00,513.47,513.47,111573300
3,"Mar 01, 2021",545.57,556.99,492.85,521.66,521.66,90183900
4,"Feb 01, 2021",536.79,566.65,518.28,538.85,538.85,61902300
...,...,...,...,...,...,...,...
66,"Dec 01, 2015",124.47,133.27,113.85,114.38,114.38,319939200
67,"Nov 01, 2015",109.20,126.60,101.86,123.33,123.33,320321800
68,"Oct 01, 2015",102.91,115.83,96.26,108.38,108.38,446204400
69,"Sep 01, 2015",109.35,111.24,93.55,103.26,103.26,497401200
70,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...