# Project 1 

## Data Science Skills Demonstration

### 1. Data Collection through Web Scraping

In [1]:
!pip install bs4
!pip install lxml==4.6.4
!pip install html5lib==1.1 
!pip install requests==2.26.0

Requirement already satisfied: bs4 in c:\users\asustuf\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\asustuf\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\asustuf\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.2.post1)
Requirement already satisfied: lxml==4.6.4 in c:\users\asustuf\anaconda3\lib\site-packages (4.6.4)
Requirement already satisfied: html5lib==1.1 in c:\users\asustuf\anaconda3\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\asustuf\anaconda3\lib\site-packages (from html5lib==1.1) (1.16.0)
Requirement already satisfied: webencodings in c:\users\asustuf\anaconda3\lib\site-packages (from html5lib==1.1) (0.5.1)
Requirement already satisfied: requests==2.26.0 in c:\users\asustuf\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\asustuf\anaconda3\lib\site-packages (from requests==2.26.0) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\asustuf\anaconda3\lib\site-packages (from requests==2.26.0) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\asustuf\anaconda3\lib\site-packages (from requests==2.26.0) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\asustuf\anaconda3\lib\site-packages (from requests==2.26.0) (2022.12.7)

In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
#Get the URL of the webpage
url = 'https://en.wikipedia.org/wiki/Economy_of_the_Philippines'

In [3]:
#retrieve the data into html text format using the requests module
data = requests.get(url).text

In [4]:
# Create and instance of Beautiful Soup Object
soup = BeautifulSoup(data,'html.parser')

In [5]:
# Perform search and other Activities
tables=soup.find_all('table')

In [6]:
len(tables)

18

In [7]:
import pandas as pd

In [23]:
df1=pd.read_html(str(tables[2]), flavor = 'bs4')[0]
df1

                              Region             GRDP (PHP, thousands)  \
                              Region                                 #
0                       Metro Manila                        6309290637
1                         Cordillera                         322093866
2                      Ilocos Region                         629772047
3                     Cagayan Valley                         397625523
4                      Central Luzon                        2177046900
5                         Calabarzon                        2861724791
6                           Mimaropa                         377014287
7                       Bicol Region                         560314934
8                    Western Visayas                         916379059
9                    Central Visayas                        1266701029
10                   Eastern Visayas                         465694628
11               Zamboanga Peninsula                         397206561
12                 Northern Mindanao                         882204432
13                      Davao Region                         922094956
14                      Soccsksargen                         470422524
15                            Caraga                         306308490
16                        Bangsamoro                         254523606
17                             Total                       19516418271
18  Data as of October 21, 2020[123]  Data as of October 21, 2020[123]

                                          Agriculture (PHP, thousands)  \
                                   %                                 #
0                              32.33                            442597
1                               1.65                          27045337
2                               3.23                         104471256
3                               2.04                         103563850
4                              11.15                         231995441
5                              14.66                         154312287
6                               1.93                          64116478
7                               2.87                          85820150
8                               4.70                         144256702
9                               6.49                          79478668
10                              2.39                          61219158
11                              2.04                          74695151
12                              4.52                         182955342
13                              4.72                         149438384
14                              2.41                         130802115
15                              1.57                          39908783
16                              1.30                          87689432
17                            100.00                        1722211131
18  Data as of October 21, 2020[123]  Data as of October 21, 2020[123]

                                             Industry (PHP, thousands)  \
                                   %                                 #
0                               0.03                        1230125141
1                               1.57                          77990725
2                               6.07                         192218332
3                               6.01                         115614177
4                              13.47                         950969430
5                               8.96                        1445358775
6                               3.72                         125427469
7                               4.98                         202529524
8                               8.38                         194479931
9                               4.61                         342195668
10                              3.55                         181914842
11                              4.34                         110467600
12                             10.62                         208580211
13                              8.68                         233452398
14                              7.60                         103321113
15                              2.32                         109464024
16                              5.09                          63191105
17                            100.00                        5887300465
18  Data as of October 21, 2020[123]  Data as of October 21, 2020[123]

                                             Services (PHP, thousands)  \
                                   %                                 #
0                              20.89                        5078722899
1                               1.32                         217057804
2                               3.26                         333082459
3                               1.96                         178447496
4                              16.15                         994082029
5                              24.55                        1262053729
6                               2.13                         187470340
7                               3.44                         271965260
8                               3.30                         577642425
9                               5.81                         845026693
10                              3.09                         222560628
11                              1.88                         212043810
12                              3.54                         490668878
13                              3.97                         539204175
14                              1.75                         236299297
15                              1.86                         156935683
16                              1.07                         103643069
17                            100.00                       11906906674
18  Data as of October 21, 2020[123]  Data as of October 21, 2020[123]

                                                 GRDP per capita (PHP)
                                   %             GRDP per capita (PHP)
0                              42.65                            462779
1                               1.82                            179752
2                               2.80                            120512
3                               1.50                            109851
4                               8.35                            179840
5                              10.60                            181781
6                               1.57                            120240
7                               2.28                             92288
8                               4.85                            116946
9                               7.10                            161289
10                              1.87                             99492
11                              1.78                            105798
12                              4.12                            177998
13                              4.53                            176983
14                              1.98                            108561
15                              1.32                            112489
16                              0.87                             55151
17                            100.00                            181907
18  Data as of October 21, 2020[123]  Data as of October 21, 2020[123]

In [10]:
# Method 2
# load the url directly to the read_html()
df2 = pd.read_html(url, flavor = 'bs4')

In [11]:
#determine the number of table available in the webpage
len(df2)

18

In [45]:
df_gdp=df2[1]   # retrieve the data in data table 1 in df2[1] and assign it to dataframe3
df_gdp.head(5)

      Year GDP growth[a] GDP, current prices                                   \
      Year GDP growth[a]     (PHP, billions) (USD, billions) Per capita (USD)
0  2023[5]          6.0%                 NaN           440.9             3905
1     2022         7.76%               22023           404.3             3623
2     2021         5.60%               19390           393.7             3579
3  2020[c]        −9.50%             17937.6           361.5             3298
4     2019         6.00%             19514.4           376.8             3485

         GDP, PPP                   PHP:USD exchange rate[b]
  (USD, billions) Per capita, (USD) PHP:USD exchange rate[b]
0          1290.0             11420                      NaN
1          1173.1             10512                    54.47
2           994.6              9043                    49.25
3           919.2              8389                    49.62
4            1005              9295                    51.79

In [47]:
df_grdp=df2[2]
df_grdp.head(5)

           Region GRDP (PHP, thousands)        Agriculture (PHP, thousands)  \
           Region                     #      %                            #
0    Metro Manila            6309290637  32.33                       442597
1      Cordillera             322093866   1.65                     27045337
2   Ilocos Region             629772047   3.23                    104471256
3  Cagayan Valley             397625523   2.04                    103563850
4   Central Luzon            2177046900  11.15                    231995441

         Industry (PHP, thousands)        Services (PHP, thousands)         \
       %                         #      %                         #      %
0   0.03                1230125141  20.89                5078722899  42.65
1   1.57                  77990725   1.32                 217057804   1.82
2   6.07                 192218332   3.26                 333082459   2.80
3   6.01                 115614177   1.96                 178447496   1.50
4  13.47                 950969430  16.15                 994082029   8.35

  GRDP per capita (PHP)
  GRDP per capita (PHP)
0                462779
1                179752
2                120512
3                109851
4                179840

After the data have been collected via data webscraping and converting it to the pandas dataframe the next step is the to store it in the sqlite3 database for furthe data wrangling and data analysis.

## 2. SQLite 3 Database

In [48]:
import sqlite3
import pandas as pd

In [49]:
con = sqlite3.connect('Phil_data.db')

In [51]:
# since the data is already in pandas data frame no need to read it on csv function.
# store the df_gdp to sqlite database in order to perform data analysis in sql
df_gdp.to_sql("GDP_data", con, if_exists='replace', index = False, method ='multi')

55

In [52]:
#store the df_grdp to sqlite3 database in order to perform data analysis in SQL
df_grdp.to_sql("GRDP_data",con, if_exists='replace', index = False, method = 'multi')

19

In [54]:
#Retrieve the data from sqlite database
query = "SELECT * FROM GDP_data;"
df = pd.read_sql(query,con)

In [58]:
#Retrieve the data from sqlite database
query2="SELECT * FROM GRDP_data;"
df2 = pd.read_sql(query2,con)

In [60]:
df.head(8)

,"('Year', 'Year')","('GDP growth[a]', 'GDP growth[a]')","('GDP, current prices', '(PHP, billions)')","('GDP, current prices', '(USD, billions)')","('GDP, current prices', 'Per capita (USD)')","('GDP, PPP', '(USD, billions)')","('GDP, PPP', 'Per capita, (USD)')","('PHP:USD exchange rate[b]', 'PHP:USD exchange rate[b]')"
0,2023[5],6.0%,None,440.9,3905,1290.0,11420,None
1,2022,7.76%,22023,404.3,3623,1173.1,10512,54.47
2,2021,5.60%,19390,393.7,3579,994.6,9043,49.25
3,2020[c],−9.50%,17937.6,361.5,3298,919.2,8389,49.62
4,2019,6.00%,19514.4,376.8,3485,1005,9295,51.79
5,2018,6.30%,18262.4,346.8,3251,930.0,8720,52.66
6,2017,6.70%,15556.4,328.5,3123,854.0,8120,50.40
7,2016,6.90%,15133.5,318.6,3073,798.6,7703,47.50

In [61]:
df2.head(8)

,"('Region', 'Region')","('GRDP (PHP, thousands)', '#')","('GRDP (PHP, thousands)', '%')","('Agriculture (PHP, thousands)', '#')","('Agriculture (PHP, thousands)', '%')","('Industry (PHP, thousands)', '#')","('Industry (PHP, thousands)', '%')","('Services (PHP, thousands)', '#')","('Services (PHP, thousands)', '%')","('GRDP per capita (PHP)', 'GRDP per capita (PHP)')"
0,Metro Manila,6309290637,32.33,442597,0.03,1230125141,20.89,5078722899,42.65,462779
1,Cordillera,322093866,1.65,27045337,1.57,77990725,1.32,217057804,1.82,179752
2,Ilocos Region,629772047,3.23,104471256,6.07,192218332,3.26,333082459,2.80,120512
3,Cagayan Valley,397625523,2.04,103563850,6.01,115614177,1.96,178447496,1.50,109851
4,Central Luzon,2177046900,11.15,231995441,13.47,950969430,16.15,994082029,8.35,179840
5,Calabarzon,2861724791,14.66,154312287,8.96,1445358775,24.55,1262053729,10.60,181781
6,Mimaropa,377014287,1.93,64116478,3.72,125427469,2.13,187470340,1.57,120240
7,Bicol Region,560314934,2.87,85820150,4.98,202529524,3.44,271965260,2.28,92288

In [62]:
# after completing the data retrieval and SQL Data Analysis close the connection to free up the resources.
con.close()

## 3. Data Analysis

##### 3a. Data Wrangling

In [66]:
import numpy as np

###### Check the tables for missing data

In [73]:
# check the shape of the dataframe the format is (rows,columns)

print(df.shape)
print(df2.shape)

(55, 8)
(19, 10)

### Evaluation of Missing Data

 Two functions can be used to evaluate the missing data for large data and small dataset
 
   1. .isnull()
   2. .null()

In [77]:
#Identify the missing data using the .isnull()
missing_data1=df.isnull()
missing_data1.head(5)

,"('Year', 'Year')","('GDP growth[a]', 'GDP growth[a]')","('GDP, current prices', '(PHP, billions)')","('GDP, current prices', '(USD, billions)')","('GDP, current prices', 'Per capita (USD)')","('GDP, PPP', '(USD, billions)')","('GDP, PPP', 'Per capita, (USD)')","('PHP:USD exchange rate[b]', 'PHP:USD exchange rate[b]')"
0,False,False,True,False,False,False,False,True
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False

In [79]:
#identify the missing data of df2 using the isnull if missing the result is True otherwise it is False meaning in contains a data
missing_data2=df2.isnull()
missing_data2

,"('Region', 'Region')","('GRDP (PHP, thousands)', '#')","('GRDP (PHP, thousands)', '%')","('Agriculture (PHP, thousands)', '#')","('Agriculture (PHP, thousands)', '%')","('Industry (PHP, thousands)', '#')","('Industry (PHP, thousands)', '%')","('Services (PHP, thousands)', '#')","('Services (PHP, thousands)', '%')","('GRDP per capita (PHP)', 'GRDP per capita (PHP)')"
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False

Since the data in df2 two is managable upon visual check it has no messing data. therefore only the dataframe df requires data cleaning.

In [80]:
# this code counts the missing value in each column get from Course 7 lab 2

for column in missing_data1.columns.values.tolist():
    print(column)
    print (missing_data1[column].value_counts())
    print("")

('Year', 'Year')
False    55
Name: ('Year', 'Year'), dtype: int64

('GDP growth[a]', 'GDP growth[a]')
False    55
Name: ('GDP growth[a]', 'GDP growth[a]'), dtype: int64

('GDP, current prices', '(PHP, billions)')
False    44
True     11
Name: ('GDP, current prices', '(PHP, billions)'), dtype: int64

('GDP, current prices', '(USD, billions)')
False    45
True     10
Name: ('GDP, current prices', '(USD, billions)'), dtype: int64

('GDP, current prices', 'Per capita (USD)')
False    45
True     10
Name: ('GDP, current prices', 'Per capita (USD)'), dtype: int64

('GDP, PPP', '(USD, billions)')
False    45
True     10
Name: ('GDP, PPP', '(USD, billions)'), dtype: int64

('GDP, PPP', 'Per capita, (USD)')
False    45
True     10
Name: ('GDP, PPP', 'Per capita, (USD)'), dtype: int64

('PHP:USD exchange rate[b]', 'PHP:USD exchange rate[b]')
False    44
True     11
Name: ('PHP:USD exchange rate[b]', 'PHP:USD exchange rate[b]'), dtype: int64

The result False indicate the data is full and a result of True indicate the data is missing.

In [91]:
# change the name of the column for dataframe1
df.rename(columns={"('Year', 'Year')":'year',"('GDP growth[a]', 'GDP growth[a]')": 'GDP Growth'}, inplace = True)

In [101]:
df.rename(columns={"('PHP:USD exchange rate[b]', 'PHP:USD exchange rate[b]')": "PHP:USD Rate"}, inplace = True)

In [104]:
df

,year,GDP Growth,"('GDP, current prices', '(PHP, billions)')","('GDP, current prices', '(USD, billions)')","('GDP, current prices', 'Per capita (USD)')","('GDP, PPP', '(USD, billions)')","('GDP, PPP', 'Per capita, (USD)')",PHP:USD Rate
0,2023[5],6.0%,None,440.9,3905,1290.0,11420,None
1,2022,7.76%,22023,404.3,3623,1173.1,10512,54.47
2,2021,5.60%,19390,393.7,3579,994.6,9043,49.25
3,2020[c],−9.50%,17937.6,361.5,3298,919.2,8389,49.62
4,2019,6.00%,19514.4,376.8,3485,1005,9295,51.79
5,2018,6.30%,18262.4,346.8,3251,930.0,8720,52.66
6,2017,6.70%,15556.4,328.5,3123,854.0,8120,50.40
7,2016,6.90%,15133.5,318.6,3073,798.6,7703,47.50
8,2015[42],5.80%,13307.3,292.4,2863,741.0,6547,45.50
9,2014[42],6.10%,12645.3,284.8,2844,642.8,6924,44.40
10,2013[43],7.20%,11546.1,272.2,2792,454.3,4660,42.45
11,2012[44],6.80%,10564.9,250.2,2611,419.6,4380,42.21
12,2011,3.60%,9706.3,224.1,2379,386.1,4098,43.29
13,2010,7.63%,9003.5,199.6,2155,365.3,3945,45.09
14,2009,1.15%,8026.1,168.5,1851,335.4,3685,47.58
15,2008,4.15%,7720.9,173.6,1919,329.0,3636,44.47
16,2007,7.12%,6892.7,149.4,1684,309.9,3493,46.07
17,2006,5.24%,6271.2,122.2,1405,283.5,3255,51.29
18,2005,4.78%,5677.8,103.1,1209,261.0,3061,55.06
19,2004,6.70%,5120.4,91.4,1093,242.7,2905,56.09
20,2003,4.97%,4548.1,83.9,1025,222.7,2720,54.32
21,2002,3.65%,4198.3,81.4,1014,207.8,2591,51.60
22,2001,2.89%,3888.8,76.3,971,197.3,2511,51.20
23,2000,4.41%,3580.7,81.0,1053,187.5,2437,46.44
24,1999,3.08%,3244.2,83.0,1110,175.8,2352,42.85
25,1998,−0.58%,2952.8,73.8,1009,168.1,2297,40.34
26,1997,5.19%,2688.7,92.8,1297,167.1,2336,32.59
27,1996,5.85%,2406.4,93.5,1336,156.1,2232,27.15
28,1995,4.68%,2111.7,83.7,1224,144.8,2118,24.20
29,1994,4.39%,1875.7,71.0,1052,135.5,2007,24.84
30,1993,2.12%,1633.6,60.2,914,127.1,1929,28.05
31,1992,0.34%,1497.5,58.7,912,121.8,1891,26.44
32,1991,−0.49%,1379.9,50.2,797,118.6,1882,27.61
33,1990,3.04%,1190.5,48.9,796,115.2,1873,22.90
34,1989,6.21%,1025.3,47.3,786,107.6,1791,23.03
35,1988,6.75%,885.5,42.0,715,97.6,1663,23.26
36,1987,4.31%,756.5,36.8,641,88.4,1540,19.07
37,1986,3.42%,674.6,33.1,591,82.4,1471,18.42
38,1985,−7.30%,633.6,34.1,623,77.9,1426,17.40
39,1984,−7.31%,581.1,34.8,652,81.6,1530,17.61
40,1983,1.88%,408.9,36.8,707,84.9,1630,12.11
41,1982,3.62%,351.4,41.1,810,80.1,1578,9.47
42,1981,3.42%,312.0,39.5,797,72.9,1471,9.32
43,1980,5.15%,270.1,35.9,744,64.4,1334,7.78
44,1979,5.60%,None,None,None,None,None,None
45,1978,5.20%,None,None,None,None,None,None
46,1977,5.60%,None,None,None,None,None,None
47,1976,8.00%,None,None,None,None,None,None
48,1975,6.40%,None,None,None,None,None,None
49,1974,5.00%,None,None,None,None,None,None
50,1973,9.20%,None,None,None,None,None,None
51,1972,4.80%,None,None,None,None,None,None
52,1971,4.90%,None,None,None,None,None,None
53,1970,4.60%,None,None,None,None,None,None
54,.mw-parser-output .reflist{font-size:90%;margi...,.mw-parser-output .reflist{font-size:90%;margi...,.mw-parser-output .reflist{font-size:90%;margi...,.mw-parser-output .reflist{font-size:90%;margi...,.mw-parser-output .reflist{font-size:90%;margi...,.mw-parser-output .reflist{font-size:90%;margi...,.mw-parser-output .reflist{font-size:90%;margi...,.mw-parser-output .reflist{font-size:90%;margi...

In [105]:
# Extract the important Column for analysis
df3 = df[['year','GDP Growth','PHP:USD Rate']]
df3

,year,GDP Growth,PHP:USD Rate
0,2023[5],6.0%,None
1,2022,7.76%,54.47
2,2021,5.60%,49.25
3,2020[c],−9.50%,49.62
4,2019,6.00%,51.79
5,2018,6.30%,52.66
6,2017,6.70%,50.40
7,2016,6.90%,47.50
8,2015[42],5.80%,45.50
9,2014[42],6.10%,44.40
10,2013[43],7.20%,42.45
11,2012[44],6.80%,42.21
12,2011,3.60%,43.29
13,2010,7.63%,45.09
14,2009,1.15%,47.58
15,2008,4.15%,44.47
16,2007,7.12%,46.07
17,2006,5.24%,51.29
18,2005,4.78%,55.06
19,2004,6.70%,56.09
20,2003,4.97%,54.32
21,2002,3.65%,51.60
22,2001,2.89%,51.20
23,2000,4.41%,46.44
24,1999,3.08%,42.85
25,1998,−0.58%,40.34
26,1997,5.19%,32.59
27,1996,5.85%,27.15
28,1995,4.68%,24.20
29,1994,4.39%,24.84
30,1993,2.12%,28.05
31,1992,0.34%,26.44
32,1991,−0.49%,27.61
33,1990,3.04%,22.90
34,1989,6.21%,23.03
35,1988,6.75%,23.26
36,1987,4.31%,19.07
37,1986,3.42%,18.42
38,1985,−7.30%,17.40
39,1984,−7.31%,17.61
40,1983,1.88%,12.11
41,1982,3.62%,9.47
42,1981,3.42%,9.32
43,1980,5.15%,7.78
44,1979,5.60%,None
45,1978,5.20%,None
46,1977,5.60%,None
47,1976,8.00%,None
48,1975,6.40%,None
49,1974,5.00%,None
50,1973,9.20%,None
51,1972,4.80%,None
52,1971,4.90%,None
53,1970,4.60%,None
54,.mw-parser-output .reflist{font-size:90%;margi...,.mw-parser-output .reflist{font-size:90%;margi...,.mw-parser-output .reflist{font-size:90%;margi...